// @import '~ag-grid/dist/styles/ag-grid';

@import '~connect-bootstrap/scss/connect-bootstrap';
@import '~connect-bootstrap/scss/_connect-common-variables';

html.dark {
  @import '~connect-bootstrap/scss/_connect-dark-variables';
}

html.light {
  @import '~connect-bootstrap/scss/_connect-light-variables';
}

.page-error {
  height: 400px;
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: -200px;
  text-align: center;
  h1 {
    font-size: 25em !important;
    font-weight: 900 !important;
  }
  h2 {
    font-size: 7em !important;
    text-transform: uppercase;
    font-weight: 900 !important;
    margin-top: -30px !important;
  }
}
